aspectsandconcerns.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="LogicalTime" type="LogicalTime"/>
	<xs:complexType name="LogicalTime">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="TimingAndLatency" type="TimingAndLatency"/>
	<xs:complexType name="TimingAndLatency">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Synchronization" type="Synchronization"/>
	<xs:complexType name="Synchronization">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="TimeAwareness" type="TimeAwareness"/>
	<xs:complexType name="TimeAwareness">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="IntervalAndLatencyControl" type="IntervalAndLatencyControl"/>
	<xs:complexType name="IntervalAndLatencyControl">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="DataSemantics" type="DataSemantics"/>
	<xs:complexType name="DataSemantics">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="OperationView" type="OperationView"/>
	<xs:complexType name="OperationView">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Functional" type="Functional"/>
	<xs:complexType name="Functional">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Identity" type="Identity"/>
	<xs:complexType name="Identity">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="OperationsOnData" type="OperationsOnData"/>
	<xs:complexType name="OperationsOnData">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="RelationshipsBetweenData" type="RelationshipsBetweenData"/>
	<xs:complexType name="RelationshipsBetweenData">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Adaptability" type="Adaptability"/>
	<xs:complexType name="Adaptability">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Complexity" type="Complexity"/>
	<xs:complexType name="Complexity">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Constructivity" type="Constructivity"/>
	<xs:complexType name="Constructivity">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Discoverability" type="Discoverability"/>
	<xs:complexType name="Discoverability">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="FunctionalAspect" type="FunctionalAspect"/>
	<xs:complexType name="FunctionalAspect">
		<xs:complexContent>
			<xs:extension base="Aspect">
				<xs:sequence>
					<xs:element name="PerformanceConcern" type="PerformanceConcern" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Actuation" type="Actuation" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Communication" type="Communication" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Controllability" type="Controllability" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Functionality" type="Functionality" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Measurability" type="Measurability" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Monitorability" type="Monitorability" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Physical" type="Physical" minOccurs="1" maxOccurs="1"/>
					<xs:element name="PhysicalContext" type="PhysicalContext" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Sensing" type="Sensing" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Uncertainty" type="Uncertainty" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BoundariesAspect" type="BoundariesAspect"/>
	<xs:complexType name="BoundariesAspect">
		<xs:complexContent>
			<xs:extension base="Aspect">
				<xs:sequence>
					<xs:element name="Behavioral" type="Behavioral" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Networkability" type="Networkability" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Responsibility" type="Responsibility" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LifecyscleAspect" type="LifecyscleAspect"/>
	<xs:complexType name="LifecyscleAspect">
		<xs:complexContent>
			<xs:extension base="Aspect">
				<xs:sequence>
					<xs:element name="Deployability" type="Deployability" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Operatability" type="Operatability" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Disposability" type="Disposability" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Engineerability" type="Engineerability" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Maintainability" type="Maintainability" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Procurability" type="Procurability" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Producibility" type="Producibility" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BusinessAspect" type="BusinessAspect"/>
	<xs:complexType name="BusinessAspect">
		<xs:complexContent>
			<xs:extension base="Aspect">
				<xs:sequence>
					<xs:element name="Enterprise" type="Enterprise" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Cost" type="Cost" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Environment" type="Environment" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Policy" type="Policy" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Quality" type="Quality" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Regulatory" type="Regulatory" minOccurs="1" maxOccurs="1"/>
					<xs:element name="TimeToMarket" type="TimeToMarket" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Utility" type="Utility" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="TrustworthinessAspect" type="TrustworthinessAspect"/>
	<xs:complexType name="TrustworthinessAspect">
		<xs:complexContent>
			<xs:extension base="Aspect">
				<xs:sequence>
					<xs:element name="Security" type="Security" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Privacy" type="Privacy" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Resiliance" type="Resiliance" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Reliability" type="Reliability" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Safety" type="Safety" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Physical" type="Physical"/>
	<xs:complexType name="Physical">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Measurability" type="Measurability"/>
	<xs:complexType name="Measurability">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="PerformanceConcern" type="PerformanceConcern"/>
	<xs:complexType name="PerformanceConcern">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Monitorability" type="Monitorability"/>
	<xs:complexType name="Monitorability">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Controllability" type="Controllability"/>
	<xs:complexType name="Controllability">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Sensing" type="Sensing"/>
	<xs:complexType name="Sensing">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Functionality" type="Functionality"/>
	<xs:complexType name="Functionality">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Uncertainty" type="Uncertainty"/>
	<xs:complexType name="Uncertainty">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Communication" type="Communication"/>
	<xs:complexType name="Communication">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="PhysicalContext" type="PhysicalContext"/>
	<xs:complexType name="PhysicalContext">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Actuation" type="Actuation"/>
	<xs:complexType name="Actuation">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="HumanAspect" type="HumanAspect"/>
	<xs:complexType name="HumanAspect">
		<xs:complexContent>
			<xs:extension base="Aspect">
				<xs:sequence>
					<xs:element name="HumanFactors" type="HumanFactors" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Usability" type="Usability" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="TimingAspect" type="TimingAspect"/>
	<xs:complexType name="TimingAspect">
		<xs:complexContent>
			<xs:extension base="Aspect">
				<xs:sequence>
					<xs:element name="LogicalTime" type="LogicalTime" minOccurs="1" maxOccurs="1"/>
					<xs:element name="TimingAndLatency" type="TimingAndLatency" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Synchronization" type="Synchronization" minOccurs="1" maxOccurs="1"/>
					<xs:element name="TimeAwareness" type="TimeAwareness" minOccurs="1" maxOccurs="1"/>
					<xs:element name="IntervalAndLatencyControl" type="IntervalAndLatencyControl" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Environment" type="Environment"/>
	<xs:complexType name="Environment">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Engineerability" type="Engineerability"/>
	<xs:complexType name="Engineerability">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Producibility" type="Producibility"/>
	<xs:complexType name="Producibility">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Disposability" type="Disposability"/>
	<xs:complexType name="Disposability">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Operatability" type="Operatability"/>
	<xs:complexType name="Operatability">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Deployability" type="Deployability"/>
	<xs:complexType name="Deployability">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Procurability" type="Procurability"/>
	<xs:complexType name="Procurability">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Responsibility" type="Responsibility"/>
	<xs:complexType name="Responsibility">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Privacy" type="Privacy"/>
	<xs:complexType name="Privacy">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="DataAspect" type="DataAspect"/>
	<xs:complexType name="DataAspect">
		<xs:complexContent>
			<xs:extension base="Aspect">
				<xs:sequence>
					<xs:element name="DataSemantics" type="DataSemantics" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Identity" type="Identity" minOccurs="1" maxOccurs="1"/>
					<xs:element name="OperationsOnData" type="OperationsOnData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="RelationshipsBetweenData" type="RelationshipsBetweenData" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Safety" type="Safety"/>
	<xs:complexType name="Safety">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Resiliance" type="Resiliance"/>
	<xs:complexType name="Resiliance">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Enterprise" type="Enterprise"/>
	<xs:complexType name="Enterprise">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Quality" type="Quality"/>
	<xs:complexType name="Quality">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="TimeToMarket" type="TimeToMarket"/>
	<xs:complexType name="TimeToMarket">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Regulatory" type="Regulatory"/>
	<xs:complexType name="Regulatory">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Policy" type="Policy"/>
	<xs:complexType name="Policy">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Utility" type="Utility"/>
	<xs:complexType name="Utility">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Cost" type="Cost"/>
	<xs:complexType name="Cost">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="HumanFactors" type="HumanFactors"/>
	<xs:complexType name="HumanFactors">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Usability" type="Usability"/>
	<xs:complexType name="Usability">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Maintainability" type="Maintainability"/>
	<xs:complexType name="Maintainability">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Behavioral" type="Behavioral"/>
	<xs:complexType name="Behavioral">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Networkability" type="Networkability"/>
	<xs:complexType name="Networkability">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="CompositionAspect" type="CompositionAspect"/>
	<xs:complexType name="CompositionAspect">
		<xs:complexContent>
			<xs:extension base="Aspect">
				<xs:sequence>
					<xs:element name="Adaptability" type="Adaptability" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Complexity" type="Complexity" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Constructivity" type="Constructivity" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Discoverability" type="Discoverability" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Aspect" type="Aspect"/>
	<xs:complexType name="Aspect">
		<xs:sequence>
			<xs:element name="Aspect" type="Aspect" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Reliability" type="Reliability"/>
	<xs:complexType name="Reliability">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Security" type="Security"/>
	<xs:complexType name="Security">
		<xs:sequence/>
	</xs:complexType>
</xs:schema>
