cpsframework.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="cpsframework" xmlns:f="cpsframework" targetNamespace="cpsframework" >
	<xsd:include schemaLocation="aspectsandconcerns.xsd"/>
	<xsd:element name="BusinessObject" type="BusinessObject"/>
	<xsd:complexType name="BusinessObject">
		<xsd:annotation>
			<xsd:documentation>Business object exchanged in detailed activity step.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Requirement" type="Ref_Requirement" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>can be used to define requirements referring to the information and not to the step as in the step by step analysis</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ActorGrouping" type="ActorGrouping"/>
	<xsd:complexType name="ActorGrouping">
		<xsd:annotation>
			<xsd:documentation>Group of actors used to organize an actor list.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identifier" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unique global identifier for the object.
This identifier is unique among several exchange of information. A global repository has to maintain the uniqueness.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Actor" type="UseCase_Ref_Actor" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of grouped Actors</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Ref_BusinessCase" type="Ref_BusinessCase"/>
	<xsd:complexType name="Ref_BusinessCase">
		<xsd:annotation>
			<xsd:documentation>Provides a description or reference with some rationale for the suggested use case. Usually the business case is related to several use cases.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CustomInformation" type="CustomInformation"/>
	<xsd:complexType name="CustomInformation">
		<xsd:annotation>
			<xsd:documentation>Provides a flexible option to include miscellaneous custom, semi-structured information which does not fit into other parts of the template.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="key" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Use case wide unique key for identification purposes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Provides the corresponding information for the provided key.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reference" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This field refers to relevant template section.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Resource_String_value_ValueType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ResourceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Image"/>
			<xsd:enumeration value="UMLDiagram"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Step" type="Step"/>
	<xsd:complexType name="Step">
		<xsd:annotation>
			<xsd:documentation>Elementary step within a scenario representing the finest-grained description level of interactions in the use case.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identifier" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unique global identifier for the object.
This identifier is unique among several exchange of information. A global repository has to maintain the uniqueness.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="event" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The event that triggers the step. This might be completion of previous steps (in that case the event is the comma-separated list of their numbers) or the condition to exit a loop.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="service" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This column identifies the nature of the information flow and the originator of the information. Available options are CREATE, GET, CHANGE, DELETE, CANCEL, EXECUTE derived from IEC 61968-100:2013.
Additionally, REPORT, TIMER and REPEAT are suggested. 

	- CREATE means that an information object is to be created at the Producer. 
	- GET (this is the default value if none is populated) means that the Receiver requests information from the Producer (default).
	- CHANGE means that information is to be updated. Producer updates the Receiver’s information.
	- DELETE means that information is to be deleted. Producer deletes information from the Receiver.
	- CANCEL, CLOSE imply actions related to processes, such as the closure of a work order or the cancellation of a control request.
	- EXECUTE is used when a complex transaction is being conveyed using a service, which potentially contains more than one verb.
	- REPORT is used to represent transferral of unsolicited information or asynchronous information flows. Producer provides information to the Receiver.
	- TIMER is used to represent a waiting period. When using the TIMER service, the Information Producer and Information Receiver fields shall refer to the same actor. 
	- REPEAT is used to indicate that a series of steps is repeated until a condition or trigger event. The condition is specified as the text in the "Event" column for this row or step. Following the word REPEAT, shall appear, in parenthesis, the first and last step numbers of the series to be repeated in the following form REPEAT(X-Y) where X is the first step and Y is the last step.

These common service definitions are related to automation / information or communication systems. In case the use case template is applied in other domains, further services might be used and described.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Drawing" type="Drawing" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the list of associated drawing.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Requirement" type="Ref_Requirement" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Requirement(s) for the step. It is allowed to list several requirement in one step, comma separated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InformationReceiver" type="Ref_Actor" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>This identifies the receiver of the information. This should be one of the actors defined in the repository.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InformationProducer" type="Ref_Actor" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>This identifies the producer or source of the information. This should be one of the actors defined in the repository.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BusinessObject" type="Ref_BusinessObject" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>This describes briefly the information to be exchanged between the two actors – information producer and information receiver. It is possible to several information in one step, comma separated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Aspect" type="Aspect" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="BusinessCase" type="BusinessCase"/>
	<xsd:complexType name="BusinessCase">
		<xsd:annotation>
			<xsd:documentation>Provides a description or reference with some rationale for the suggested use case. Usually the business case is related to several use cases.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Domain" type="Ref_Domain" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Use cases can be used in various areas (e.g. energy system). Within these areas different domains are used to define / determine a more specific subgrouping. One or more domains and zones, comma separated, can be specified in the template. These are the other ones.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Aspect" type="Aspect" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Domain" type="Domain"/>
	<xsd:complexType name="Domain">
		<xsd:annotation>
			<xsd:documentation>Area of knowledge or activity characterized by a set of concepts and terminology understood by the practitioners in that area .</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Resource_String" type="Resource_String"/>
	<xsd:complexType name="Resource_String">
		<xsd:annotation>
			<xsd:documentation>String Primitive type.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="Resource_String_value_ValueType">
				<xsd:attribute name="type" type="ResourceType" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="BusinessObjectLibrary" type="BusinessObjectLibrary"/>
	<xsd:complexType name="BusinessObjectLibrary">
		<xsd:annotation>
			<xsd:documentation>Business objects exchanged of the repository.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BusinessObject" type="BusinessObject" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of business objects within the library</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="UseCaseLibrary" type="UseCaseLibrary"/>
	<xsd:complexType name="UseCaseLibrary">
		<xsd:annotation>
			<xsd:documentation>Use cases of the repository.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="UseCase" type="UseCase" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of use cases within the library</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Actor" type="Actor"/>
	<xsd:complexType name="Actor">
		<xsd:annotation>
			<xsd:documentation>Entity that communicates and interacts.
These actors can include people, software applications, systems, databases, and even the power system itself.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identifier" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unique global identifier for the object.
This identifier is unique among several exchange of information. A global repository has to maintain the uniqueness.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Type of the actor (business, system, ....)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Aspect" type="Aspect" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Reference" type="Reference"/>
	<xsd:complexType name="Reference">
		<xsd:annotation>
			<xsd:documentation>Any references shall be identified that might restrict or affect the design, understanding, and requirements of the use case, including contracts, regulations, policies, financial considerations, engineering constraints, pollution constraints, and other environmental quality issues.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="identifier" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unique global identifier for the object.
This identifier is unique among several exchange of information. A global repository has to maintain the uniqueness.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>There are different reference types (e.g. standards, regulation, contract, others like publications).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="impact" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This information describe the nature of the influence of the document on the use case.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Status of the referenced document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="link" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>If available, a public link to the document can be provided.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="originatorOrganisation" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This describes the name of the organisation publishing the document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Drawing" type="Drawing"/>
	<xsd:complexType name="Drawing">
		<xsd:annotation>
			<xsd:documentation>For clarification, in general it is recommended to provide drawing(s) by hand, by a graphic or as UML graphics (preferred in this clause). The drawing should show interactions which identify the steps where possible.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Name of the drawing.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="drawingType" type="DrawingClassification" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Type of drawing.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="URI" type="Resource_String" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>resource Path to an image file
ex: http://www..../image.jpg
or
path to an XMI file with a relative diagram path from the root of the UML model. ex: http://www.../Model.xmi#Package1/Package2/.../DiagName</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Ref_Requirement" type="Ref_Requirement"/>
	<xsd:complexType name="Ref_Requirement">
		<xsd:annotation>
			<xsd:documentation>Requirement of a part of the use case.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Author" type="Author"/>
	<xsd:complexType name="Author">
		<xsd:annotation>
			<xsd:documentation>This field is used to document who has provided the current version. It can be a person, organisation or e.g. standardization committee like TC or WG.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Ref_Domain" type="Ref_Domain"/>
	<xsd:complexType name="Ref_Domain">
		<xsd:annotation>
			<xsd:documentation>Area of knowledge or activity characterized by a set of concepts and terminology understood by the practitioners in that area .</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Ref_UseCase" type="Ref_UseCase"/>
	<xsd:complexType name="Ref_UseCase">
		<xsd:annotation>
			<xsd:documentation>Specification of a set of actions performed by a system, which yields an observable result that is, typically, of value for one or more actors or other stakeholders of the system </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Ref_Actor" type="Ref_Actor"/>
	<xsd:complexType name="Ref_Actor">
		<xsd:annotation>
			<xsd:documentation>Entity that communicates and interacts.
These actors can include people, software applications, systems, databases, and even the power system itself.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Ref_BusinessObject" type="Ref_BusinessObject"/>
	<xsd:complexType name="Ref_BusinessObject">
		<xsd:annotation>
			<xsd:documentation>Business object exchanged in detailed activity step.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CommonTermLibrary" type="CommonTermLibrary"/>
	<xsd:complexType name="CommonTermLibrary">
		<xsd:annotation>
			<xsd:documentation>Common glossary defining terms for all use cases.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CommonTerm" type="CommonTerm" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of common terms</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Remark" type="Remark"/>
	<xsd:complexType name="Remark">
		<xsd:annotation>
			<xsd:documentation>Used for further comments which are not considered elsewhere.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="content" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Content of the remark.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="UseCase" type="UseCase"/>
	<xsd:complexType name="UseCase">
		<xsd:annotation>
			<xsd:documentation>Specification of a set of actions performed by a system, which yields an observable result that is, typically, of value for one or more actors or other stakeholders of the system </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identifier" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unique global identifier for the object.
This identifier is unique among several exchange of information. A global repository has to maintain the uniqueness.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nature" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Classifies the main focus of the use case.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="classification" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>On international level the use case description might be generic enough to describe a use case in a more general way independently from the national or regional market design. But use cases might be used to describe regional or national specific circumstances like laws or even project specific details. If the use case reflects to those circumstances, it should be characterized accordingly.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="keywords" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Keywords can be defined in order to support extended search functionalities within a use case repository. Multiple keywords should be provided as a comma-separated list.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="levelOfDepth" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Use cases can be described on different levels, for example high-level use case, detailed use case, specialised use case, ...</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prioritisation" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Considering a larger number of use cases it might be interesting to cluster them according to priority.
This prioritisation might be different from country to country.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="scope" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The scope defines the limits of the use case.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RelatedUseCase" type="Ref_UseCase" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Known relations to other use cases can be provided here if e.g. the use case is a more detailed one related to a high level use case, or it is an alternative to an existing use case. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ActorGrouping" type="ActorGrouping" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>a Use Case references several set of Actors</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrimaryActor" type="Ref_Actor" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Identification of the PrimaryActor linked by the use case.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RelatedObjective" type="Objective" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>List of objectives of the use case.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Assumption" type="Assumption" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>set of assumptions related to the use case</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Prerequisite" type="Condition" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Describes what condition(s) should have been met before initiation of the use case, such as prior state of the actors and activities.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KeyPerformanceIndicator" type="KeyPerformanceIndicator" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>information about the KPI related to the use case</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BusinessCase" type="Ref_BusinessCase" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of business cases associated to the use case</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Narrative" type="Narrative" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>the information about the narrative part of the use case.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Reference" type="Reference" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>information about referenced documents.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Remark" type="Remark" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>remark associated to the use case.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Drawing" type="Drawing" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the list of associated drawing.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Version" type="Version" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of versions describing changes about the use case</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CustomInformation" type="CustomInformation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Related additional information</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CommonTerm" type="Ref_CommonTerm" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the associated common terms.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Scenario" type="Scenario" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>reference to the scenarios belonging to the use case.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Aspect" type="Aspect" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DomainLibrary" type="DomainLibrary"/>
	<xsd:complexType name="DomainLibrary">
		<xsd:annotation>
			<xsd:documentation>Domains of the repository.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Domain" type="Domain" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the list of domains within the library</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="TriggeringEvent" type="TriggeringEvent"/>
	<xsd:complexType name="TriggeringEvent">
		<xsd:annotation>
			<xsd:documentation>Describes which event triggers a scenario.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Name of the triggering event.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="content" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the triggering event.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="UseCaseRepository" type="f:UseCaseRepository_Type"/>
	<xsd:element name="Scenario" type="Scenario"/>
	<xsd:complexType name="Scenario">
		<xsd:annotation>
			<xsd:documentation>A possible sequence of interactions.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identifier" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unique global identifier for the object.
This identifier is unique among several exchange of information. A global repository has to maintain the uniqueness.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrimaryActor" type="Ref_Actor" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Describes which actor  triggers this scenario.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Drawing" type="Drawing" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the list of associated drawing.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TriggeringEvent" type="TriggeringEvent" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of triggering events for the scenario</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Precondition" type="Condition" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Describes which condition(s) should prevail after this scenario happens The post conditions may also define "success" or "failure" conditions for each use case.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Postcondition" type="Condition" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Describes which condition(s) should have been met before this scenario happens.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Requirement" type="Ref_Requirement" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>information about the requirement</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MacroActivity" type="MacroActivity" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of macro activities for the scenario</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RequirementCategory" type="RequirementCategory"/>
	<xsd:complexType name="RequirementCategory">
		<xsd:annotation>
			<xsd:documentation>Requirements can be sorted in categories. For complex categories the category name can be "dot-delimited".</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identifier" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unique global identifier for the object.
This identifier is unique among several exchange of information. A global repository has to maintain the uniqueness.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Requirement" type="Requirement" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>information about the requirement</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="UseCaseRepository_Type" type="UseCaseRepository_Type"/>
	<xsd:complexType name="UseCaseRepository_Type">
		<xsd:annotation>
			<xsd:documentation>Database, based on a given use cases template, for editing, maintenance and administration of use cases, actors and requirements including their interrelations.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DomainLibrary" type="DomainLibrary" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>the associated library of domains</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BusinessObjectLibrary" type="BusinessObjectLibrary" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>the library of business objects</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequirementLibrary" type="RequirementLibrary" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The associated library</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ActorLibrary" type="ActorLibrary" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Library of actors</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CommonTermLibrary" type="CommonTermLibrary" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>the associated library of common terms</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BusinessCaseLibrary" type="BusinessCaseLibrary" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>the library associated to the repository</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UseCaseLibrary" type="UseCaseLibrary" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>the associated library of use cases</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Assumption" type="Assumption"/>
	<xsd:complexType name="Assumption">
		<xsd:annotation>
			<xsd:documentation>May be used to define further, general assumption for a use case, such as: which systems already exist, which contractual relations exist, and which configurations of systems are probably in place. Initial states of information exchanged shall also be identified.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Name of the assumption</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="content" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the assumption</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ActorLibrary" type="ActorLibrary"/>
	<xsd:complexType name="ActorLibrary">
		<xsd:annotation>
			<xsd:documentation>Actors of the repository.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Actor" type="Actor" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The actors listed in the library</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RequirementLibrary" type="RequirementLibrary"/>
	<xsd:complexType name="RequirementLibrary">
		<xsd:annotation>
			<xsd:documentation>Requirements of the repository.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RequirementCategory" type="RequirementCategory" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The category for the requirement</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Narrative" type="Narrative"/>
	<xsd:complexType name="Narrative">
		<xsd:annotation>
			<xsd:documentation>Describes the narrative of the use case.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="shortDescription" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Short text intended to summarize the main idea as service for the reader who is searching for a use case or looking for an overview. 
Recommendation: This short description should have not more than 150 words.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="completeDescription" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Provides a complete narrative of the use case from a user’s point of view, describing what occurs when, why, with what expectation, and under what conditions. This narrative should be written in plain text so that non-domain experts can understand it.
The length of the complete description can range from a few sentences to a few pages, depending on the complexity and / or newness of the use case. This description often helps the domain expert to reflect about the requirements for the use case before getting into the details in the next sections of the use case template.
The description may include drawings for explanation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Condition" type="Condition"/>
	<xsd:complexType name="Condition">
		<xsd:annotation>
			<xsd:documentation>Describes either a precondition or a postcondition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Name of the condition.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="content" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the condition.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MacroActivity" type="MacroActivity"/>
	<xsd:complexType name="MacroActivity">
		<xsd:annotation>
			<xsd:documentation>Macro-activity.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrimaryActor" type="Ref_Actor" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>reference to the PrimaryActor</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Requirement" type="Ref_Requirement" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the associated requirements</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ChildMacroActivity" type="MacroActivity" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The list of sub macro activities</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Drawing" type="Drawing" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the list of associated drawing.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Step" type="Step" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of steps</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="KeyPerformanceIndicator" type="KeyPerformanceIndicator"/>
	<xsd:complexType name="KeyPerformanceIndicator">
		<xsd:annotation>
			<xsd:documentation>Key Performance Indicator (KPI) related to the objectives of the Use Case.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Objective" type="Ref_Objective" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the related objective</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="BusinessCaseLibrary" type="BusinessCaseLibrary"/>
	<xsd:complexType name="BusinessCaseLibrary">
		<xsd:annotation>
			<xsd:documentation>Business cases of the repository.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BusinessCase" type="BusinessCase" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the list of business cases</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="UseCase_Ref_Actor" type="UseCase_Ref_Actor"/>
	<xsd:complexType name="UseCase_Ref_Actor">
		<xsd:annotation>
			<xsd:documentation>Entity that communicates and interacts.
These actors can include people, software applications, systems, databases, and even the power system itself.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="furtherInformation" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Individual or additional information that relates to the use case can be provided.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CommonTerm" type="CommonTerm"/>
	<xsd:complexType name="CommonTerm">
		<xsd:annotation>
			<xsd:documentation>Represents a glossary term and its definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identifier" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unique global identifier for the object.
This identifier is unique among several exchange of information. A global repository has to maintain the uniqueness.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Ref_Objective" type="Ref_Objective"/>
	<xsd:complexType name="Ref_Objective">
		<xsd:annotation>
			<xsd:documentation>Objective of the use case.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Requirement" type="Requirement"/>
	<xsd:complexType name="Requirement">
		<xsd:annotation>
			<xsd:documentation>Requirement of a part of the use case.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identifier" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unique global identifier for the object.
This identifier is unique among several exchange of information. A global repository has to maintain the uniqueness.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Ref_CommonTerm" type="Ref_CommonTerm"/>
	<xsd:complexType name="Ref_CommonTerm">
		<xsd:annotation>
			<xsd:documentation>Represents a glossary term and its definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="DrawingClassification">
		<xsd:annotation>
			<xsd:documentation>Possible types of drawing.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Domain Overview"/>
			<xsd:enumeration value="Use Case Overview"/>
			<xsd:enumeration value="Documentation"/>
			<xsd:enumeration value="Scenarios Flowchart"/>
			<xsd:enumeration value="Scenario Overview"/>
			<xsd:enumeration value="MacroActivities Flowchart"/>
			<xsd:enumeration value="MacroActivity Overview"/>
			<xsd:enumeration value="Actions Flowchart"/>
			<xsd:enumeration value="Action Overview"/>
			<xsd:enumeration value="Business Objects Overview"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="Role Model"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Version" type="Version"/>
	<xsd:complexType name="Version">
		<xsd:annotation>
			<xsd:documentation>Version of the use case(s) description.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="versionNumber" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Sequential number to identify the version of the document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="date" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Date of creation of the version, in format YYYY-MM-DD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="changes" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Differences with the previous version.
Multiple changes are separated with paragraphs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="approvalStatus" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Information used within the standardization process.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Author" type="Author" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>list of authors participating in the changes of this version</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Objective" type="Objective"/>
	<xsd:complexType name="Objective">
		<xsd:annotation>
			<xsd:documentation>Objective of the use case.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A short name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalId" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
