cpsframework.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="cpsframework" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="cpsframework" xmlns:cpsframework="cpsframework">
	<xs:annotation>
		<xs:documentation>Author:Howard.
Created:12/18/15 3:03 PM.
Title:.
Comment:.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="IEC62559-3.xsd"/>
	<xs:include schemaLocation="realization.xsd"/>
	<xs:include schemaLocation="assurance.xsd"/>
	<xs:include schemaLocation="conceptualization.xsd"/>
	<xs:element name="Facet" type="Facet"/>
	<xs:complexType name="Facet" abstract="true">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Aspect" type="Aspect"/>
	<xs:complexType name="Aspect" abstract="true">
		<xs:annotation>
			<xs:documentation>Aspects are high level concerns or collections of concerns whose relationships and tradeoffs are more fully understood.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Device" type="Device"/>
	<xs:complexType name="Device">
		<xs:complexContent>
			<xs:extension base="CPS">
				<xs:sequence>
					<xs:element name="Domain" type="Domain" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Cyber" type="Cyber" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="Physical" type="Physical" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="Ref_Device" type="Ref_Device" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="System" type="System"/>
	<xs:complexType name="System">
		<xs:complexContent>
			<xs:extension base="CPS">
				<xs:sequence>
					<xs:element name="Device" type="Device" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SystemOfSystems" type="SystemOfSystems"/>
	<xs:complexType name="SystemOfSystems">
		<xs:complexContent>
			<xs:extension base="CPS">
				<xs:sequence>
					<xs:element name="System" type="System" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Human" type="Human"/>
	<xs:complexType name="Human">
		<xs:complexContent>
			<xs:extension base="Function">
				<xs:sequence>
					<xs:element name="Physical" type="Physical" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Energy" type="Energy"/>
	<xs:complexType name="Energy">
		<xs:complexContent>
			<xs:extension base="Domain">
				<xs:sequence>
					<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Transportation" type="Transportation"/>
	<xs:complexType name="Transportation">
		<xs:complexContent>
			<xs:extension base="Domain">
				<xs:sequence>
					<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Physical" type="Physical"/>
	<xs:complexType name="Physical">
		<xs:complexContent>
			<xs:extension base="Function">
				<xs:sequence>
					<xs:element name="state" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Ref_Influences" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Reference to other Physical objects that this one influences. E.g. multiphysics influences between electrical and thermal properties.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name of Physical part of a CPS.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description of this Physical part of a CPS.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Aspects" type="Aspects" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Cyber" type="Cyber" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="reference" type="reference"/>
	<xs:complexType name="reference">
		<xs:annotation>
			<xs:documentation>An external reference to a schematic, document, model, plan, etc....</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="reference" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>external reference to document, etc...</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of what is being referred to.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="InteractionLibrary" type="InteractionLibrary"/>
	<xs:complexType name="InteractionLibrary">
		<xs:annotation>
			<xs:documentation>A library of interactions that can define a messaging pattern and associated aspects, or, an influence.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="interaction" type="Interaction" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An interaction definition.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Maturity" type="Maturity" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Interaction" type="Interaction"/>
	<xs:complexType name="Interaction">
		<xs:annotation>
			<xs:documentation>An interaction is re-usable description of a message or an influence. An interaction is governed by a set of properties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A short name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="technicalId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kind" type="InteractionKind" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Kind of interaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Aspects" type="Aspects" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Ref_Property" type="Ref_Property"/>
	<xs:complexType name="Ref_Property">
		<xs:sequence>
			<xs:element name="refProperty" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>URI reference to a property</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Ref_Interaction" type="Ref_Interaction"/>
	<xs:complexType name="Ref_Interaction">
		<xs:sequence>
			<xs:element name="refInteraction" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contains a reference to an Interaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="InteractionKind">
		<xs:annotation>
			<xs:documentation>Kind of interaction -- either information exchange, or, physical influence.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="message">
				<xs:annotation>
					<xs:documentation>A message exchange of information.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="influence">
				<xs:annotation>
					<xs:documentation>A physical influence -- such as mechanical, electrical, thermal, ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Aspects" type="Aspects"/>
	<xs:complexType name="Aspects">
		<xs:annotation>
			<xs:documentation>Set of aspects that might be applicable at a level of the decomposition of conceptualization.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="functional" type="FunctionalAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="business" type="BusinessAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="human" type="HumanAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="trustworthiness" type="TrustworthinessAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="timing" type="TimingAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="data" type="DataAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="boundaries" type="BoundariesAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="composition" type="CompositionAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="lifecylce" type="LifecyscleAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Maturity" type="Maturity" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CPSFramework" type="CPSFramework"/>
	<xs:complexType name="CPSFramework">
		<xs:sequence>
			<xs:element name="BusinessCase" type="BusinessCase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UseCase" type="UseCase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Conceptualization" type="Conceptualization" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CPSLibrary" type="CPSLibrary" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Realization" type="Realization" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Assurance" type="Assurance" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BusinessObjectLibrary" type="BusinessObjectLibrary" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InteractionLibrary" type="InteractionLibrary" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Maturity" type="Maturity" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Maturity" type="Maturity"/>
	<xs:complexType name="Maturity">
		<xs:annotation>
			<xs:documentation>Describes the maturity level of a component of the CPSFramework model.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="maturity" type="maturityLevels" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effective" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective date. ISO 8601 string.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="responsibleParty" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>responsible party</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="revision" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Version string</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="MaturityStatus" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="maturityLevels">
		<xs:annotation>
			<xs:documentation>Enumeration of maturity levels -- can be extended to include custom values. Typically the meaning of the values is governed by the development process which is an orchestration of the Facet Activities.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="submitted"/>
			<xs:enumeration value="verified"/>
			<xs:enumeration value="approved"/>
			<xs:enumeration value="delegated"/>
			<xs:enumeration value="rejected"/>
			<xs:enumeration value="reviewed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaturityStatus">
		<xs:annotation>
			<xs:documentation>The status of maturity of this instance.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="asDeveloped"/>
			<xs:enumeration value="asDesigned"/>
			<xs:enumeration value="asPlanned"/>
			<xs:enumeration value="asBuilt"/>
			<xs:enumeration value="asMaintained"/>
			<xs:enumeration value="asDisposed"/>
			<xs:enumeration value="asPreserved"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Ref_Device" type="Ref_Device"/>
	<xs:complexType name="Ref_Device">
		<xs:annotation>
			<xs:documentation>Reference to a device.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
</xs:schema>
