xml/cpsframework.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="cpsframework" xmlns:cpsframework="cpsframework" targetNamespace="cpsframework" version="1.1-20201022">
	<xs:annotation>
		<xs:documentation>NIST CPS Framework.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="IEC62559-3.xsd"/>
	<xs:include schemaLocation="realization.xsd"/>
	<xs:include schemaLocation="assurance.xsd"/>
	<xs:include schemaLocation="conceptualization.xsd"/>
	<xs:element name="Aspect" type="Aspect"/>
	<xs:complexType name="Aspect" abstract="true">
		<xs:annotation>
			<xs:documentation>Aspects are high level concerns or collections of concerns whose relationships and tradeoffs are more fully understood.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Concern">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Aspects" type="Aspects"/>
	<xs:complexType name="Aspects">
		<xs:annotation>
			<xs:documentation>This is the set of aspects or high-level concerns of the CPS Framework. They may be applicable at the levels of the decomposition of the CPS that takes place in the conceptualization facet of the CPS Framework.

The decomposition of a CPS in the CPS Framework proceeds from the Business Case, Use Case, CPS's (in the case of a system of systems) and Allocation to the Logical and the Physical.

These aspects, nine of them in the CPS Framework, are the high-level concerns or 'categories of concerns' of the CPS Framework. Applying a concern to a level of the decomposition of a CPS results in a set of 'properties' (or requirements), designed to assure that the concern is addressed by the CPS.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="boundaries" type="BoundariesAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="business" type="BusinessAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="communication" type="CommunicationAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="composition" type="CompositionAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="data" type="DataAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="functional" type="FunctionalAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="human" type="HumanAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="lifecylce" type="LifecyscleAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="timing" type="TimingAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="trustworthiness" type="TrustworthinessAspect" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Maturity" type="Maturity" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CPSFramework" type="CPSFramework"/>
	<xs:complexType name="CPSFramework">
		<xs:annotation>
			<xs:documentation>The CPS Framework class denotes the CPS Framework UML Model. All the class objects in this model inherit Maturity attributes such as effective date, maturity level, responsible party, revision level and maturity status.

It's presence here guarantees that all of the elements of the CPS Framework inherit values of the attributes associated with the Maturity Class Object.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Assurance" type="Assurance" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BusinessCase" type="BusinessCase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Conceptualization" type="Conceptualization" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CPSLibrary" type="CPSLibrary" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InformationModelLibrary" type="InformationModelLibrary" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InteractionLibrary" type="InteractionLibrary" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Maturity" type="Maturity" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Realization" type="Realization" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UseCase" type="UseCase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Energy" type="Energy"/>
	<xs:complexType name="Energy">
		<xs:annotation>
			<xs:documentation>Energy exchanged by an influence.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="EnergyDomain" type="EnergyDomain"/>
	<xs:complexType name="EnergyDomain">
		<xs:annotation>
			<xs:documentation>The energy domain of CPS.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Domain">
				<xs:sequence>
					<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Facet" type="Facet"/>
	<xs:complexType name="Facet" abstract="true">
		<xs:annotation>
			<xs:documentation>The facets of the CPS Framework are sets of activities performed during the development of a system. It includes the conceptualization facet, the realization facet and the assurance facet.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Human" type="Human"/>
	<xs:complexType name="Human">
		<xs:annotation>
			<xs:documentation>The human representation as a participant or part of a CPS.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CPS">
				<xs:sequence>
					<xs:element name="Physical" type="Physical" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Influence" type="Influence"/>
	<xs:complexType name="Influence">
		<xs:annotation>
			<xs:documentation>An interaction in the physical sense involving the exchange of energy.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Interaction">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Influences" type="Influences"/>
	<xs:complexType name="Influences">
		<xs:annotation>
			<xs:documentation>Physical parts of CPS interact through influences which involve the exchange of energy.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="influence" type="Influence" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An influence.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Interaction" type="Interaction"/>
	<xs:complexType name="Interaction">
		<xs:annotation>
			<xs:documentation>An interaction is re-usable description of a message or an influence. An interaction is governed by a set of properties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A short name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="technicalId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Technical unique identifier for the object for the scope of a specific exchange of information (i.e This is unique only for the exchanged file). This identifier is used to create technical references of information within the exchange of information. Even if the global identifier has a global scope, the technicalId is always used instead when the purpose is to create reference information within the current exchange.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Aspects" type="Aspects" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="InteractionLibrary" type="InteractionLibrary"/>
	<xs:complexType name="InteractionLibrary">
		<xs:annotation>
			<xs:documentation>A library of interactions that define the messaging patterns between the logical elements of the CPS and the influences between physical elements of the CPS as well as the cyber-physical interactions between the logical and physical elements of the CPS.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Influences" type="Influences" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Maturity" type="Maturity" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Messages" type="Messages" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="IrreducibleCPS" type="IrreducibleCPS"/>
	<xs:complexType name="IrreducibleCPS">
		<xs:annotation>
			<xs:documentation>The minimal assembly of hardware and software that can be considered a CPS.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CPS">
				<xs:sequence>
					<xs:element name="Logical" type="Logical" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="Physical" type="Physical" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="Ref_IrreducibleCPS" type="Ref_IrreducibleCPS" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Logical" type="Logical"/>
	<xs:complexType name="Logical">
		<xs:annotation>
			<xs:documentation>The logical part of a CPS representing its state and algorithms.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Function">
				<xs:sequence>
					<xs:element name="Ref_msgs" type="Ref_Message" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>reference to messages (peer to influences)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="state" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Maturity" type="Maturity"/>
	<xs:complexType name="Maturity">
		<xs:annotation>
			<xs:documentation>Describes the maturity level of a component of the CPSFramework model.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="effective" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective date. ISO 8601 string.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maturity" type="maturityLevels" minOccurs="1" maxOccurs="1"/>
			<xs:element name="responsibleParty" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>responsible party</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="revision" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Version string</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="MaturityStatus" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="maturityLevels">
		<xs:annotation>
			<xs:documentation>This is an enumeration object in the maturity class diagram. Enumerations are used in a class diagram to define the value sets or possible values that the attributes of a class object can assume.

This enumeration is an enumeration of 'maturity levels', the values that the maturity attribute of the Maturity class can take. The Maturity Levels enumeration can be extended to include additional custom values. The maturity levels themselves correspond to the 'steps' of the effort to develop a CPS definition. They measure whether that effort is complete, from submitted to verified, approved, delegated, rejected and released.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="submitted"/>
			<xs:enumeration value="verified"/>
			<xs:enumeration value="approved"/>
			<xs:enumeration value="delegated"/>
			<xs:enumeration value="rejected"/>
			<xs:enumeration value="reviewed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaturityStatus">
		<xs:annotation>
			<xs:documentation>This enumeration provides the values of the maturity status of the elements of the CPS decomposition, from as developed to as designed, as planned, as built, as maintained, as disposed to as presented.

The status of maturity of an instance of the CPS reflects where the CPS elements are in its lifecycle.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="asDeveloped"/>
			<xs:enumeration value="asDesigned"/>
			<xs:enumeration value="asPlanned"/>
			<xs:enumeration value="asBuilt"/>
			<xs:enumeration value="asMaintained"/>
			<xs:enumeration value="asDisposed"/>
			<xs:enumeration value="asPreserved"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Message" type="Message"/>
	<xs:complexType name="Message">
		<xs:annotation>
			<xs:documentation>An interaction between logical parts of CPS involving the exchange of information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Interaction">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Messages" type="Messages"/>
	<xs:complexType name="Messages">
		<xs:annotation>
			<xs:documentation>Logical parts of CPS interact via messages which involve the exchange of information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="message" type="Message" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Physical" type="Physical"/>
	<xs:complexType name="Physical">
		<xs:annotation>
			<xs:documentation>The physical part of CPS that operate according to the laws of physics.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Function">
				<xs:sequence>
					<xs:element name="Ref_Influences" type="Ref_Influence" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Reference to other Physical objects that this one influences. E.g. multiphysics influences between electrical and thermal properties.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="state" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Ref_Influence" type="Ref_Influence"/>
	<xs:complexType name="Ref_Influence">
		<xs:annotation>
			<xs:documentation>A reference to an influence.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="refInfluence" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>XPath reference to an influence.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Ref_IrreducibleCPS" type="Ref_IrreducibleCPS"/>
	<xs:complexType name="Ref_IrreducibleCPS">
		<xs:annotation>
			<xs:documentation>Reference to an irreducibleCPS.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Ref_Message" type="Ref_Message"/>
	<xs:complexType name="Ref_Message">
		<xs:annotation>
			<xs:documentation>A reference to a message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="refMessage" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contains a reference to a message.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Ref_Property" type="Ref_Property"/>
	<xs:complexType name="Ref_Property">
		<xs:annotation>
			<xs:documentation>Reference to a property.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="refProperty" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>URI reference to a property</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="reference" type="reference"/>
	<xs:complexType name="reference">
		<xs:annotation>
			<xs:documentation>An external reference to a schematic, document, model, plan, etc....</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of what is being referred to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reference" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>external reference to document, etc...</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="System" type="System"/>
	<xs:complexType name="System">
		<xs:annotation>
			<xs:documentation>A composition of 2 or more IrreducibleCPS.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CPS">
				<xs:sequence>
					<xs:element name="Human" type="Human" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="IrreducibleCPS" type="IrreducibleCPS" minOccurs="2" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SystemOfSystems" type="SystemOfSystems"/>
	<xs:complexType name="SystemOfSystems">
		<xs:annotation>
			<xs:documentation>A composition of 2 or more Systems of CPS.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CPS">
				<xs:sequence>
					<xs:element name="System" type="System" minOccurs="2" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="TransportationDomain" type="TransportationDomain"/>
	<xs:complexType name="TransportationDomain">
		<xs:annotation>
			<xs:documentation>The transportation domain of CPS.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Domain">
				<xs:sequence>
					<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
